body{margin: 0; background-color: rgb(0, 0, 0);}
a{text-decoration: none;}
header{
    width: 100%;
    background-color: rgb(55, 57, 70);
    padding: 20px 0px;
    display: flex;
}
header > a{
    font-size: 28px;
    font-weight: 600;
    color: rgb(133, 139, 150);
    margin-left: 20px;
    animation:colorchange 5s infinite alternate;
}
@keyframes colorchange {
    0% {
  
      color: rgb(255, 255, 255);
    }
  
    20% {
  
      color: #feffc5;
    }
  
    40% {
  
      color: rgb(255, 205, 255);
    }

    60% {
  
      color: rgba(255, 239, 98, 0.527);
    }
  
    80% {
  
      color: #ff2f90;
    }
  
    100% {
  
      color: pink;
    }
  }


.profile{
    width: 150px;
    text-align: center;
    padding: 13px 0;
    background-color: rgb(31, 30, 30);
    float: right;
    margin-left: 80%;
    border-radius: 10px;
}
.profile > a{
    color: yellow;
    font-size: 18px;
    font-weight: 600;
    animation:colorchange 5s infinite alternate;
}
.gmae-div{
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
}
.game-input{
    width: 400px;
    height: 500px;
    border-radius: 12px;
    border: 15px solid rgb(108, 111, 131);
}
.game-line{
    width: 400px;
    height: 10px;
    background-color: rgb(108, 111, 131);
}
.game-name{
    width: 400px;
    padding: 7px 0px;
    background-color: black;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: greenyellow;
    text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green;  
}
.game-hard{
    width: 400px;
    padding: 2px 0px;
    background-color: black;
    text-align: center;
    
}
.game-hard > a{
    font-size: 27px;
    font-weight: 600;
    color: greenyellow;
    text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green;  
}
.game-input > img{
    width: 100%;
    height: 390px;
    z-index: 3;
    opacity: 0.8;
}
.under-button{
    display: flex;
    padding: 0 340px;
    justify-content: space-between;
}
.under-button > button{
    width: 150px;
    height: 40px;
    background-color: indianred;
    color: rgb(236, 184, 184);
    font-size: 20px;
    font-weight: 700;
}
.under-button > button:hover{
    background-color: tomato;
}
.under-bar{
    width: 100%;
    background-color: rgb(55, 57, 70);
    padding: 20px 0px;
    display: flex;
    margin-top: 134.5px;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    color: rgb(133, 139, 150);
    display: flex;
    justify-content: center;
}